<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yijing.modelfan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.BaseActivity"/>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.FunListActivity"/>
        <activity android:name=".ui.activity.FunInfoActivity"/>
        <activity android:name=".ui.activity.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
    </application>

</manifest>
